* {
  font-family: "Inter", sans-serif;
}

header {
  transition: all ease-in-out 1s;
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.507); */
  background-color: #44A2BC;
  z-index: 999999999;
}

header nav a {
  transition: all ease-in-out 1s;
}

header nav a:hover {
  background-color: white;
  color: black !important;
}

header nav {
  display: flex;
}

#menuBTN {
  display: flex;
  flex-direction: column;
  width: 30px;
  gap: 5px;
  cursor: pointer;
}

#menuBTN div {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
}

header .menuBTNs {
  display: none;
}

#responsiveMenu {
  transition: display ease-in-out 2s;
  display: none;
}

header .container {
  position: relative;
}

.bannerImg{
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.banner {
  background-color: #44a2bc7c;
  background-image: url(./assets/images/grid.svg);
  background-position: bottom;
  background-size: contain;
  background-blend-mode: luminosity;
  position: relative;
}

.banner .container{
  position: relative;
  z-index: 1;
}

.banner::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: rgba(255, 0, 0, 0.068); */
  background-image: url(./assets/images/slide.png);
  background-size: cover;
  background-blend-mode: luminosity;
  background-position: bottom;
  z-index: 0;
}

/* .banner img {
  height: inherit;
  width: auto;
  min-width: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: center bottom;
} */

/* .msgs{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 0, 255, 0.124);
} */

.events{
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(45deg, #151f67, red);
}

.events::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 2;
}

.events .container{
    position: relative;
    z-index: 3;
    color: white;
}

#eventsVideo{
    top: 0;
    position: absolute;
    height: inherit;
    width: auto;
    min-width: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: center bottom;
    z-index: 1;
}

.social-links a:hover{
    color: white !important;
}

.messages{
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999999999999999999;
}

.messages #successMsg,#errMsg{
  display: none;
}

@media screen and (max-width: 995px) {
  header nav {
    display: none;
  }
  header .menuBTNs {
    display: flex;
  }
  .banner h1{
    font-size: 4em !important;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 700px) {
  #responsiveMenu {
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
  }

  #responsiveMenu a {
    border-bottom: 2px dotted;
    width: 100%;
    text-align: center;
    border-radius: 0% !important;
  }
  .banner{
    text-align: center !important;
  }
  .bannerImgCon{
    margin-top: 5%;
  }
}

@media screen and (max-width:600px) {
    .msgs h1{
        font-size: 4em !important;
    }
    .conBTN{
      margin-left: auto;
      margin-right: auto;
    }
}

@media screen and (max-width:450px) {
  .bannerImgCon{
    margin-top: 5%;
    padding: 2%;
    padding-bottom: 0%;
    box-sizing: border-box;
  }

  .bannerImg{
    width: 100% !important;
    height: auto !important;
  }
}